.contener
  %img(src="images/cutend-logo-opt.png" width="640")

  %div.row
    %div.span4
      %h2 DogMeetsとは？
      %p サンプル文言です。サンプル文言です。サンプル文言です。サンプル文言です。サンプル文言です。サンプル文言です。サンプル文言です。
      %img{:src => 'http://placehold.it/370x200'}