.contener
  %img(src="images/cutend-logo-opt.png" width="640")
- if current_user.nil?
  .jumbotron.masthead
    %p.login-btn
      = link_to "Twitterã§login","/auth/twitter", :class => 'btn btn-primary btn-large'
- else
  ok dao !
  
