.contener
  %img(src="images/cutend-logo-opt.png" width="640")
- if current_user.nil?
  .jumbotron.masthead
    %p.login-btn
      = link_to "Twitterでlogin","/auth/twitter", :class => 'btn btn-primary btn-large'
- else
  ok dao !

.desc
  %p
    時空を歪ませる記念日登録サービスです！
  %p
    %span
      時間はチクタクチクタクと容赦無く進み、カレンダーの一日はあっけなく終わってしまいます。
    %span
      しかし、Cutendではカレンダーの一日を自分で進めることができます。そのタイミングは「最高に楽しい」と感じた時です！
    %span
      「最高に楽しい瞬間」を一日の終りとして切り取り記念日にしてしまえるのです！
  %p
    さぁ！ Cutendで時空を歪め、毎日が記念日な自分だけの素敵な暦を作りましょう！！

%footer
  %p iPhoneユーザーへ真ん中のボタン（これは画像で説明）をおして、ホーム画面に追加（これも画像）で、アプリケーションのように（画像）使えるので、是非登録してください！