%h1 Listing anniversaries

%table
  %tr
    %th
    %th
    %th

  - @anniversaries.each do |anniversary|
    %tr
      %td= anniversary.date
      %td= link_to anniversary.anniversary, anniversary

%br

= link_to 'New Anniversary', new_anniversary_path
