.link
  %p
    = link_to '一日を終わらせる へ', new_anniversary_path

.ichinichi-ichiran
  %h1 一日一覧

%div.waku
- @anniversaries.each do |anniversary|
  %h4= anniversary.date.strftime("%Y-%m-%d")
  %p= link_to anniversary.anniversary, anniversary

