%h1 一日一覧

%table
  %tr
    %th
    %th
    %th

  - @anniversaries.each do |anniversary|
    %tr
      %td= anniversary.date.strftime("%Y-%m-%d")
      %td= link_to anniversary.anniversary, anniversary

%br

= link_to '一日を終わらせる', new_anniversary_path
